.nav{
    height: 10vh;
}
.cuerpo1{
    height: 55vh;
    background-color: #070125;
   
}
.cuerpo2{
    height: 55vh;
    background-color: #070125;
   
}
.cabecera{
    height: 20vh;
    background-color: #070125;
   
}
.pie{
    height:25vh;
    background-color: #070125;
}

.img1{
   height: 50vh;
   width: 50vh;
   display: flex;
   position: absolute;
}
.img2{
      height: 60vh;
      width: 60vh;
      filter: blur(100px);
}
.titulo img{
    margin-left: 20px ;
}
.menupeke{
    display:none;
}
@media (max-width: 470px){
    .menu{
        display: none;
    }
    .menupeke {
          width: 63px;
          height: 31px;
          right: 5px;
          background: #07F488;
          border-radius: 30px;
          display: block;
          position: absolute;
      }

    .menupeke img {
          position: absolute;
          right: 20px;
          top: 5px;
          height: 21px;
          display: block;
      }
    .cuerpo1{
        order: 2;
    }
    .cuerpo2{
        order: 1;
    }
   

}