.fondo{
    width: 320px;
    height: 560px;
    background: #070125;
}
* {
    margin: 0%;
    padding: 0%;
    position: relative;
}
nav{
    width: 63px;
    height: 31px;
    left: 247px;
    top: 10px;
    background: #07F488;
    border-radius: 30px;
}
nav img{
    position: absolute;
    right: 10px;
    top: 5px;
    height: 21px;
}
header{
    left: 80px;
    top: 41px;
}
header img{
    width: 165px;
    height: 45px;
}

main .img1{
    position: absolute;
    width: 300px;
    height: 200px;
    left: 10px;
    top: 66px;
}
main .img2{
   display: none;
}

h1 {
    left: 62px;
    top: 78px;
    font-family: "Roboto";
    font-size: 41px;
    line-height: 48px;
    color: #F9F9F9;
}
p {
    left: 46px;
    top: 88px;
    font-family: "Roboto";
    font-size: 12px;
    color: #504B6A;
}
.boton {
    width: 131px;
    height: 35px;
    left: 46px;
    top: 103px;
    background: #07F488;
    border-radius: 30px;
}
.boton h3 {
    position: absolute;
    width: 114px;
    margin-top: 10px;
    margin-left: 8px;
    height: 26px;
    font-family: "Roboto";
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
}

@media (min-width: 321px) and (min-height: 570px) {
    .fondo {
        width: 1440px;
        height: 1024px;
        background: #070125;
    }
    nav {
        display: none;
    }
    header {
        position: relative;
        left: 20vh;
        top: 20vh;
    }
    main .img1 {
        position: relative;
        width: 100vh;
        height: 75vh;
        left: 115vh;
        top: -60vh;
    }
    main .img2{
         position: relative;
         width: 70vh;
         height: 100vh;
         left: 130vh;
         top: 40vh;
         filter: blur(100px);
         display: block;
    }
    main h1 {
        width: 267px;
        left: 192px;
        top: 269px;
        font-size: 60px;
        line-height: 70px;
    }
    main p {
        left: 192px;
        top: 420px;
        font-size: 18px;
    }
    .boton {
        width: 191px;
        height: 53px;
        left: 192px;
        top: 485px;
    }
    .boton h3 {
        margin-left: 35px;
        margin-top: 16px;
        font-size: 20px;
    }

}