.nav{
    height: 10vh;
}
body{
    background-color: #070125;
}
.cuerpo1{
    height: 55vh;
}
.cuerpo2{
    height: 55vh;
}
.cabecera{
    height: 20vh;
}
.pie{
    height:25vh;
}
.img1{
   height:48vh;
   width: 60vh;
   display: flex;
   position: absolute;
}
.img2{
      height: 60vh;
      width: 60vh;
      filter: blur(100px);
}
.titulo img{
    margin-left: 20px ;
}
.menupeke{
    display:none;
}
@media (max-width: 470px){
    .menu{
        display: none;
    }
    .menupeke {
          width: 63px;
          height: 31px;
          right: 5px;
          background: #07F488;
          border-radius: 30px;
          display: block;
          position: absolute;
      }

    .menupeke img {
          position: absolute;
          right: 20px;
          top: 5px;
          height: 21px;
          display: block;
      }
    .cuerpo1{
        order: 2;
    }
    .cuerpo2{
        order: 1;
    }
}
.botones{
    background-color:#252525;
    position: relative;
    border-radius: 50%;
    display: flex;
    width: 30px;
    height: 30px;
    outline: none !important;
    border: none;
}
.grid{
     height: 55vh;
     width: 60vh;
     display: flex;
     position: absolute;
}
.pequeño{
     width: 10vh;
     height: 12vh;
}
.grande{
    width: 13vh;
    height: 16vh;
}
.p1{
    top: 5vh;
    left: 1vh;
}
.p2{
    top: 4vh;
    left: 44vh;
}
.p3 {
    top:-7vh;
    left: 5.5vh;
}
.p4 {
    top: -31vh;
    left: 48vh;
}
.g1 {
    top:10vh;
    left:6vh;
}
.g2 {
    top: -6vh;
    left: 20vh;
}
.g3 {
    top: -4vh;
    left: 28vh;
}
.g4 {
    top: -20vh;
    left: -1vh;
}